# Banco de dados (PostgreSQL)
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=sua_senha_do_postgres
DB_NAME=seu_banco_de_dados

# Porta do servidor
PORT=3000

# Chave secreta para JWT (gere uma com crypto.randomBytes(32).toString('hex'))
JWT_SECRET=sua_chave_secreta_super_segura_jwt

# API Key da Resend (para envio de emails)
RESEND_API_KEY=sua_resend_api_key_aqu